<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>Fragments</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">

</head>
<body>
<div id="titleDiv" th:fragment="header(title)">
  <h1 th:text="${title}">Your Title
  </h1>
  <hr class="horizontal_ruler">
</div>
<div id="scoreDiv" th:fragment="scorediv">
  <p><span>Your score:  </span><span class="scoreNumber" id="score_number">0</span></p>
  <p><span>Highscore:  </span><span class="scoreNumber" id="highscore_number">0</span></p>
  <button id="submitScoreButton" onclick="showSubmitScoreDialog()">Submit Highscore</button>
</div>
<div id="overlayWindow" th:fragment="submitScoreWindow" onclick="removeOverlay(event)">
  <div id="loginDiv" class="contentDiv">
    <p id="highscore_displaytext">Your Highscore:  <span class="scoreNumber" id="finalHighscore">0</span></p>
    <form id="submitScoreForm" action="javascript:submitScore()" method="POST">
      <p>Your Username:</p>
      <input type="text" name="username" class="inputField"><br>
      <p>Your Password:</p>
      <input type="password" name="password" class="inputField"><br>
      <input type="hidden" name="finalHighscore" id="finalHighscoreInput" value="0">
      <input type="submit" value="Submit Score!" id="sendButton">
    </form>
  </div>
</div>

<div id="scoreSubmitDiv" class="contentDiv">
</div>

<div th:fragment="loginPage">

</div>
</body>
</html>